.button {
  background-color: $default;
  color: $white;
  display: inline-block;
  padding: 13px 16px;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  min-width: 240px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .findus & {
    background-color: $find;
    margin-top: 20px;
  }
}
