.container {
  width: 100%;
  max-width: $container-sm;
  margin: 0 auto;
  text-align: center;
}

.container--large {
  max-width: $container-lg;
}

.content {
  padding: 60px $margin-sm;
  text-align: left;
  @media all and (max-width: 767px) {
    padding: 40px $margin-sm;
  }
}

.banner {
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
  background-color: $white;

  @media all and (max-width: 767px) {
    height: auto;
    min-height: 500px;
  }

  .brand {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    margin-top: -20px;

    img {
      display: block;
      margin: 0 auto;
    }

    @media all and (max-width: 767px) {
      img {
        width: 240px;
      }
    }
  }
}

.about {
  background: $default;
  position: relative;
  z-index: 4;
  padding: 40px 20px;

  @media all and (max-width: 767px) {
    padding: 0px 20px;
  }

  h2,
  p {
    color: $white;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    //background-image: url("../images/about.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    height: 104px;
  }

  &::before {
    bottom: 100%;
  }

  &::after {
    top: 100%;
    transform: rotate(180deg);
  }
}
