/*============================
 Variables
============================*/

/* brand */

// 500 base
$default: #76bcbc;

/* font */
$font: "Inter", sans-serif;
$font-size: 18px;

/* containers */
$container-lg: 1400px;
$container-md: 1000px;
$container-sm: 800px;

/* colours */
$white: #ffffff;
$grey: #f9f9f9;
$black: #222222;

/* drop shadow */
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 10px 20px rgba(0, 0, 0, 0.04);

/* border-radius */
$border-radius: 8px;

/* padding */
$margin-sm: 16px;
